/* VARIABLES */
/* MIXIN */
/* BODY GENERAL */
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to bottom right, #8bcdcd, #f1d4d4, #c3aed6);
  font-family: 'Kufam', cursive; }

/* HEADER */
header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%; }
  header img {
    border-radius: 90%;
    height: 125px;
    width: 125px; }
  header h1 {
    display: inline-block;
    padding: 1rem 1rem;
    font-size: 1.5rem;
    align-self: center; }

/* MENU NAV */
#mainNav {
  position: sticky;
  top: 0.4px;
  z-index: 2;
  padding: 0.7rem !important;
  margin-bottom: 3%;
  background-color: #7579e7; }
  #mainNav a {
    text-decoration: none; }
  #mainNav .active {
    background-color: #c3aed6; }

/* MAIN GENERAL */
main {
  flex-wrap: nowrap; }
  main .row {
    padding-bottom: 3%; }

/* INDEX PROMO */
.container__promo {
  color: black;
  font-style: oblique;
  text-align: center;
  width: auto;
  padding: 2rem;
  position: absolute;
  background-color: rgba(250, 219, 240, 0.924);
  border-radius: 2%;
  margin-top: 10%;
  margin-right: 10%;
  -webkit-box-shadow: 10px 3px 35px 0px rgba(110, 110, 110, 0.55);
  -moz-box-shadow: 10px 3px 35px 0px rgba(110, 110, 110, 0.55);
  box-shadow: 10px 3px 35px 0px rgba(110, 110, 110, 0.55); }
  .container__promo p {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem; }
  .container__promo .section-heading {
    text-transform: uppercase; }
  .container__promo .section-heading .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800; }
  .container__promo .section-heading .section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100; }
  .container__promo .btn {
    background-color: #c3aed6;
    border-color: #c3aed6; }

/* INDEX CARRUSEL */
.carousel-item {
  height: 50%;
  width: 80%;
  margin-bottom: 10%; }
  .carousel-item img {
    border-radius: 8%; }
  .carousel-item .img-thumbnail {
    background-color: #7579e7;
    border: 1px solid #7579e7; }

.carousel-control-prev {
  left: -12%;
  opacity: 0.5; }

.carousel-control-next {
  right: 9%;
  opacity: 0.5; }

/* NOSOTROS INFO */
.ContNosotros {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center; }

.ContNosotros__nosotros {
  font-size: 1.1rem;
  line-height: 2rem;
  flex-wrap: nowrap;
  text-align: center; }
  .ContNosotros__nosotros h2 {
    color: black;
    text-align: center;
    width: auto;
    font-size: 2rem;
    padding: 2rem; }
  .ContNosotros__nosotros ul {
    flex-wrap: nowrap;
    list-style: none;
    width: 90%;
    padding-left: 8%; }
  .ContNosotros__nosotros li {
    padding: 1.5rem;
    text-align: center;
    border-radius: 2%; }

/* NOSOTROS IMAGENES */
.nosotros__imagenes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 5%;
  margin-right: 3.5%; }
  .nosotros__imagenes img {
    margin: 5%;
    height: 35vh;
    width: 23vw; }

/* NOSOTROS TRANSICION */
.transicion :hover {
  transform: scale(1.1, 1.1);
  transition: all 2s; }

/* SERIVICIOS */
#my-servi {
  font-size: 0.9rem; }
  #my-servi h2 {
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    color: black; }
  #my-servi #separar {
    padding-top: 5%; }
  #my-servi .row {
    padding-left: 6%; }
    #my-servi .row .card {
      width: 85% !important;
      height: 100%;
      background-color: rgba(246, 222, 239, 0.924);
      -webkit-box-shadow: 10px 14px 24px 0px rgba(102, 102, 102, 0.5);
      -moz-box-shadow: 10px 14px 24px 0px rgba(102, 102, 102, 0.5);
      box-shadow: 10px 14px 24px 0px rgba(102, 102, 102, 0.5); }
      #my-servi .row .card .card-text {
        padding-top: 8%; }
      #my-servi .row .card .card-title {
        font-size: 1.1rem;
        font-weight: bold;
        text-align: center; }
      #my-servi .row .card .list-group-item {
        background-color: rgba(229, 200, 236, 0.959); }
      #my-servi .row .card img {
        height: 35vh;
        width: 30vw;
        padding-left: 21%;
        padding-top: 5%; }

/* SERVICIOS ACLARACION SECTION */
.aclaracion {
  color: black;
  font-size: 1rem;
  text-align: right;
  padding-right: 6%;
  padding-top: 3%; }

/* OPINIONES */
.accordion {
  width: 94%;
  margin-left: 3%;
  -webkit-box-shadow: 10px 3px 33px 0px rgba(110, 110, 110, 0.89);
  -moz-box-shadow: 10px 3px 33px 0px rgba(110, 110, 110, 0.89);
  box-shadow: 10px 3px 33px 0px rgba(110, 110, 110, 0.89); }
  .accordion .card {
    background-color: rgba(250, 219, 240, 0.924);
    padding: 2%; }
    .accordion .card .btn {
      text-decoration: none;
      color: black;
      font-weight: bold; }

.top {
  line-height: 2rem;
  text-align: center;
  padding: 2%;
  margin: 3%;
  margin-left: 4%;
  font-size: 1.1rem;
  width: 90%; }
  .top h3 {
    font-size: 1.5rem; }
  .top form {
    display: flex;
    flex-direction: column; }
  .top textarea {
    width: 60%;
    margin-left: 20%; }
  .top input {
    background-color: rgba(240, 122, 202, 0.924);
    border: #b3b3b3;
    width: 20%;
    margin-top: 3%;
    margin-left: 40%; }

/* CONTACTO */
.contacto {
  padding: 2%;
  margin-bottom: 2%; }
  .contacto h2 {
    text-align: center;
    margin-top: 5%; }
  .contacto .boton-enviar {
    background-color: rgba(250, 175, 226, 0.979);
    border: #f679f6;
    margin-left: 4%; }
  .contacto label {
    padding-top: 6%; }
  .contacto input {
    margin-bottom: 6%;
    margin-top: 6%;
    width: 80%; }
  .contacto textarea {
    display: flex;
    flex-direction: column;
    width: 80%; }
  .contacto select {
    width: 80%; }
  .contacto p {
    padding-top: 2%;
    padding-bottom: 2%; }
  .contacto img {
    padding-top: 2%; }
  .contacto .col-md-6 {
    display: flex;
    flex-direction: column; }
  .contacto iframe {
    padding-top: 5%;}
  .contacto .list-group-horizontal {
    text-align: center;
    margin-left: 5%; }
    .contacto .list-group-horizontal .list-group-item {
      background-color: transparent;
      border: transparent;
      width: 30%;
      font-size: 1.1rem; }
      .contacto .list-group-horizontal .list-group-item .img-fluid {
        width: 13%;
        padding-right: 5%; }
      .contacto .list-group-horizontal .list-group-item a {
        color: black; }

/* FOOTER */
footer {
  border-top: rgba(139, 139, 139, 0.972) 0.5px solid;
  padding: 3%;
  color: black; }

/* AJUSTES PARA MEDIA QUERY */
@media (max-width: 991px) {
  header {
    visibility: hidden; }
  #mainNav {
    margin-top: -18%; }
  .carousel-inner {
    margin-top: 10%; }
  .top p {
    margin-top: 5%; }
  .top h3 {
    margin-top: 5%; }
  .nosotros__imagenes {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
    .nosotros__imagenes img {
      width: 45%;
      height: 45%; } }

@media (max-width: 1200px) {
  .ContNosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center; }
  .ContNosotros__nosotros {
    align-self: center; }
    .ContNosotros__nosotros h2 {
      color: black;
      text-align: center; }
    .ContNosotros__nosotros li {
      list-style-type: none;
      font-size: 0.9rem; }
  .contacto .list-group-horizontal {
    display: flex;
    flex-direction: column; }
    .contacto .list-group-horizontal .list-group-item {
      background-color: transparent;
      border: transparent;
      width: 30%;
      font-size: 1.1rem; }
      .contacto .list-group-horizontal .list-group-item .img-fluid {
        width: 30%; } }

@media (max-width: 767px) {
  .container__promo {
    left: 0;
    margin-top: 2rem;
    width: 70%;
    margin-left: 10%; }
    .container__promo .section-heading-lower {
      font-size: 1.2rem !important; }
  .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -1rem; }
  .carousel-item {
    margin-top: 25rem;
    margin-left: 7%; }
  .carousel-control-prev {
    left: -8%;
    margin-top: 70%;
    opacity: 1; }
  .carousel-control-next {
    right: -2%;
    margin-top: 70%;
    opacity: 1; }
  .contacto img {
    margin-left: 10%;
    width: 50%; } }

@media (min-width: 767px) and (max-width: 1200px) {
  .container__promo {
    left: 0;
    margin-top: 2rem;
    width: 68%;
    margin-left: 10%; }
    .container__promo .section-heading-lower {
      font-size: 1.2rem !important; }
  .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -1rem; } }

@media (max-width: 575px) {
  #my-servi .row {
    display: flex;
    flex-direction: column; }
  #my-servi .card {
    margin-left: 5%; }
    #my-servi .card .card-body {
      height: 100%; }
    #my-servi .card .card-img-top {
      margin-left: -10%;
      width: 120% !important; }
  .contacto input {
    width: 70%; }
  .contacto select {
    width: 70%; }
  .contacto textarea {
    width: 70%; }
  .carousel-item {
    margin-top: 25rem;
    margin-left: 7%; }
  .carousel-control-prev {
    left: -8%;
    margin-top: 25rem;
    opacity: 1; }
  .carousel-control-next {
    right: -2%;
    margin-top: 25rem;
    opacity: 1; } }

@media (min-width: 576px) and (max-width: 1200px) {
  #my-servi .row {
    display: flex;
    flex-direction: row;
    padding-right: 5%; }
  #my-servi .card {
    margin-left: 5%;
    width: 100%; }
    #my-servi .card .card-img-top {
      margin-left: -4%;
      height: 20vh !important; }
    #my-servi .card .card-body {
      height: 100%; } }

@media (max-width: 691px) {
  .top {
    width: 82%;
    margin-left: 9%; }
    .top input {
      margin-left: 20%;
      width: 60%; } }
